# Dependencies
node_modules/

screenshots/
slides/*/node_modules/

# Build output
dist/
.astro/

# talks slidev will be built automatically during site build
slides/public/talks/*/*
public/talks/*/*
# but we need to build and commit the pdfs manually
!public/talks/*/*.pdf

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor/OS files
.DS_Store
.vscode/

# Local scratch folders
_bmad/
_bmad-output/

.cursor/commands/